{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" href="{% static 'images/india-symbol-removebg-preview.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <div class="header">
        <div class="container">
            <a class="navbar-brand leftimg" href="https://www.mha.gov.in/">
                <img src="{% static 'images/mhaLogo.png' %}" class="img-fluid">
            </a>
          
            <a class="navbar-brand middleImg" href="https://www.g20.in/en/" style="float: right;padding-left:10px;" target="_blank">
            <img src="{% static 'images/g20-logo.png' %}" class="img-fluid" style="float: right;">
            </a>
               <a class="navbar-brand rghtimg" href="https://amritmahotsav.nic.in/" style="float: right;" target="_blank">
                <img src="{% static 'images/logoAzadi.png' %}" class="img-fluid">
            </a>

             <a class="navbar-brand middleImg" href="https://swachhbharat.mygov.in/" style="float: right;" target="_blank">
            <img src="{% static 'images/swach-bharat.png' %}" class="img-fluid">
            </a>
  
        </div>
    </div>

    <div class="filling-id-wrapper">
      <div class="container">
        <div class="row">
			<div class="col-12">
                <div class="detailmaindiv">
                    <div class='deth3'><h3>Applicant Details<h3></div>
                    <div class="detailname">{{usr_det.name}}</div> 
                    <div class="detailimg"><img src='{{usr_det.Photo.url}}' alt='image' width='100%' height='100%'></div>
                    {% if usr_det.admin_approval == "True" %}
                        <div class="qrcode"><img id="qrimg" src="{{usr_det.qr.url}}"></div>
                    {% endif %}
                    <div class="dettab"> 
                        <table class="dettable">
                            <tr>
                                <th>Father's Name</th>
                                <td>{{usr_det.father_name}}</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>{{usr_det.phone_no}}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>{{usr_det.Gender}}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{usr_det.email}}</td>
                            </tr>
                            <tr>
                                <th>Date of Birth</th>
                                <td>{{usr_det.dob}}</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>{{usr_det.address}}</td>
                            </tr>
                            <tr>
                                <th>Aadhar Number</th>
                                <td>{{usr_det.aadhar_no}}</td>
                            </tr>
                            <tr>
                                <th>Licence Number</th>
                                <td>{{usr_det.license_no}}</td>
                            </tr>
                            <tr>
                                <th>Election id Number</th>
                                <td>{{usr_det.electionid_no}}</td>
                            </tr>
                            <tr>
                                <th>Ration card Number</th>
                                <td>{{usr_det.rationcard_no}}</td>
                            </tr>

                            <tr>
                                <th>RTO Approval</th>
                                {% if usr_det.rto_approval == 'False' %}
                                    <td style="color:red">Pending</td>
                                {% else %}
                                    <td style="color:green">Approved</td>
                                {% endif %}
                            </tr>

                            <tr>
                                <th>Ration card Approval</th>
                                {% if usr_det.ration_approval == 'False' %}
                                    <td style="color:red">Pending</td>
                                {% else %}
                                    <td style="color:green">Approved</td>
                                {% endif %}
                            </tr>

                            <tr>
                                <th>Voter id Approval</th>
                                {% if usr_det.voter_approval == 'False' %}
                                    <td style="color:red">Pending</td>
                                {% else %}
                                    <td style="color:green">Approved</td>
                                {% endif %}
                            </tr>

                            <tr>
                                <th>Admin Approval</th>
                                {% if usr_det.admin_approval == 'False' %}
                                    <td style="color:red">Pending</td>
                                {% else %}
                                    <td style="color:green">Approved</td>
                                {% endif %}
                            </tr>

                            <tr>
                                <th>IT Approval</th>
                                {% if usr_det.it_return_approval == 'False' %}
                                    <td style="color:red">Pending</td>
                                {% else %}
                                    <td style="color:green">Approved</td>
                                {% endif %}
                            </tr>
                        </table>
                    </div> 
                    {% if rto_user %}
                        {% if usr_det.rto_approval == 'False' %}
                            <div class="updatebtn"><a class="btn btn-outline-success" href="{% url 'rtoapprove' usr_det.id %}">Approve</a></div>
                        {% endif %}

                    {% elif ration_user %}
                        {% if usr_det.ration_approval == 'False' %}
                            <div class="updatebtn"><a class="btn btn-outline-success" href="{% url 'rationapprove' usr_det.id %}">Approve</a></div>
                        {% endif %}
                    
                    {% elif voter_user %}
                        {% if usr_det.voter_approval == 'False' %}
                            <div class="updatebtn"><a class="btn btn-outline-success" href="{% url 'voterapprove' usr_det.id %}">Approve</a></div>
                        {% endif %}

                    {% elif admin_user %}
                        {% if usr_det.admin_approval == 'False' %}
                            <div class="updatebtn"><a class="btn btn-outline-success" href="{% url 'adminapprove' usr_det.id %}">Approve</a></div>
                        {% endif %}

                    {% elif it_user %}
                        {% if usr_det.it_return_approval == 'False' %}
                            <div class="updatebtn"><a class="btn btn-outline-success" href="{% url 'it_return_approve' usr_det.id %}">Approve</a></div>
                        {% endif %}

                    {% endif %}
                </div> 
                {% if rto_user %}
                       <div class="col-1 mx-auto mt-2"><a class="btn btn-dark" href="/rto">Back</a></div>

                    {% elif ration_user %}
                       <div class="col-1 mx-auto mt-2"><a class="btn btn-dark" href="/ration">Back</a></div>
                    
                    {% elif voter_user %}
                        <div class="col-1 mx-auto mt-2"><a class="btn btn-dark" href="/voter">Back</a></div>

                    {% elif admin_user %}
                       <div class="col-1 mx-auto mt-2"><a class="btn btn-dark" href="/system_admin">Back</a></div>
                    
                    {% elif it_user %}
                       <div class="col-1 mx-auto mt-2"><a class="btn btn-dark" href="/it_return">Back</a></div>

                    {% endif %}
            </div>
		</div>
	</div> 
    <div class="col-1 mt-2 float-end"><a  id="logoutbtn" href="/logout">LogOut</a></div>


    <div class="instruction-wraper">
        <div class="container">
            <div class="row">
                <div class="col-12">			   
                    <div class="instruction-iner">
                        <a href="https://validation.mha.gov.in/images/Idcard.PDF" target="_blank" class="btn-details"> Instructions for issue of MHA ID Cards / Validation Slips</a>
                        <a href="https://validation.mha.gov.in/images/Validationslip_21092021.PDF" target="_blank" class="btn-details"> Instructions for colour code of doris for MHA Identity Card/Validation Slip</a>
                    </div>
                </div>
            </div>
	    </div>
    </div>

<div class="footer">
    <div class="container">
        <div class="row">
        <div class="col-12">
            <ul class="clearfix copyrightLink">
                <li class="menu-item">
                <a href="https://mha.gov.in" target="_blank">Home</a>
                    </li>
                    <li class="menu-item">
                <a href="https://mha.gov.in/contactus" target="_blank">Contact Us</a>
                        </li>
                <li class="menu-item">
                <a href="https://mha.gov.in/help" target="_blank">Help</a>
                    </li>
            </ul>

                <p>Website Content Managed by Ministry of Home Affairs, GoI</p>
            <p>For Better Vision :- Please view this site on Internet Explorer 6+ with 1024 x 768 resolution</p>
                                    <p>Last Updated: 05 March 2023</p>
        </div>
</div>
</div>
 </div>
</body>
</html>